* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 34, 34);
}

.container h1 {
  color: white;
  font-family: sans-serif;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.container button {
  margin-top: 30px;
  cursor: pointer;
  background: rgb(63, 63, 63);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.board-container {
  width: 600px;
  height: 600px;
}

.cursor-pointer {
  cursor: pointer;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.promote-square {
  width: 50%;
  height: 50%;
}

.square-black {
  background: #b59963;
}

.square-white {
  background: #f0d9b5;
}

.board-square {
  width: 100%;
  height: 100%;
}

.piece-container {
  cursor: grab;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  max-width: 70%;
  max-height: 70%;
}

.result-text {
    font-family: sans-serif;
    padding: 10px;
    color: white;
}

.result-text.result {
  margin-top: 15px;
}
